asttokens==3.0.0
Cartopy==0.25.0
certifi==2025.8.3
comm==0.2.3
contourpy==1.3.3
cycler==0.12.1
debugpy==1.8.16
decorator==5.2.1
earth2grid @ https://github.com/NVlabs/earth2grid/archive/main.tar.gz#sha256=51a57dbcc72ef0ca7a28668abf165a8ca5e9e0bdd616e5ad59aea9aa27c5c903
einops==0.8.1
executing==2.2.0
filelock==3.13.1
fonttools==4.59.1
fsspec==2024.6.1
ipykernel==6.30.1
ipython==9.4.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.4
jupyter_client==8.6.3
jupyter_core==5.8.1
kiwisolver==1.4.9
MarkupSafe==2.1.5
matplotlib==3.10.5
matplotlib-inline==0.1.7
mpmath==1.3.0
nest-asyncio==1.6.0
networkx==3.3
numpy==2.1.2
packaging==25.0
pandas==2.3.1
parso==0.8.4
pexpect==4.9.0
pillow==11.0.0
platformdirs==4.3.8
prompt_toolkit==3.0.51
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.2
pyparsing==3.2.3
pyproj==3.7.2
pyshp==2.3.1
python-dateutil==2.9.0.post0
pytz==2025.2
pyzmq==27.0.1
scipy==1.16.1
setuptools==70.2.0
shapely==2.1.1
six==1.17.0
stack-data==0.6.3
sympy==1.13.3
torch==2.8.0+cpu
torch_harmonics==0.8.0
torchvision==0.23.0+cpu
tornado==6.5.2
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2025.2
wcwidth==0.2.13
xarray==2025.8.0
